# Introduction
Maps allow us to transform data in a DataFrame or Series one value at a time for an entire column. However, often we want to group our data, and then do something specific to the group the data is in.

As you'll learn, we do this with the groupby() operation. We'll also cover some additional topics, such as more complex ways to index your DataFrames, along with how to sort your data.

# Groupwise analysis
One function we've been using heavily thus far is the value_counts() function. We can replicate what value_counts() does by doing the following:

In [1]:
import pandas as pd
reviews = pd.read_csv("C:\\Users\\user\\Downloads\\notes\\archive\\winemag-data-130k-v2.csv", index_col = 0)
#pd.set_option("display.max_rows", 5)

In [2]:
reviews.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

In [3]:
reviews.points.value_counts()

88     17207
87     16933
90     15410
86     12600
89     12226
91     11359
92      9613
85      9530
93      6489
84      6480
94      3758
83      3025
82      1836
95      1535
81       692
96       523
80       397
97       229
98        77
99        33
100       19
Name: points, dtype: int64

In [4]:
reviews.groupby('points').price.count()

points
80       395
81       680
82      1772
83      2886
84      6099
85      8902
86     11745
87     15767
88     16014
89     11324
90     14361
91     10564
92      8871
93      5935
94      3449
95      1406
96       482
97       207
98        69
99        28
100       19
Name: price, dtype: int64

In [5]:
reviews.groupby('country').points.mean()

country
Argentina                 86.710263
Armenia                   87.500000
Australia                 88.580507
Austria                   90.101345
Bosnia and Herzegovina    86.500000
Brazil                    84.673077
Bulgaria                  87.936170
Canada                    89.369650
Chile                     86.493515
China                     89.000000
Croatia                   87.219178
Cyprus                    87.181818
Czech Republic            87.250000
Egypt                     84.000000
England                   91.581081
France                    88.845109
Georgia                   87.686047
Germany                   89.851732
Greece                    87.283262
Hungary                   89.191781
India                     90.222222
Israel                    88.471287
Italy                     88.562231
Lebanon                   87.685714
Luxembourg                88.666667
Macedonia                 86.833333
Mexico                    85.257143
Moldova                   87.203390
Morocco                   88.571429
New Zealand               88.303030
Peru                      83.562500
Portugal                  88.250220
Romania                   86.400000
Serbia                    87.500000
Slovakia                  87.000000
Slovenia                  88.068966
South Africa              88.056388
Spain                     87.288337
Switzerland               88.571429
Turkey                    88.088889
US                        88.563720
Ukraine                   84.071429
Uruguay                   86.752294
Name: points, dtype: float64

groupby() created a group of reviews which allotted the same point values to the given wines. Then, for each of these groups, we grabbed the points() column and counted how many times it appeared. value_counts() is just a shortcut to this groupby() operation.

We can use any of the summary functions we've used before with this data. For example, to get the cheapest wine in each point value category, we can do the following:

In [6]:
reviews.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

In [7]:
reviews.groupby('winery').get_group('10 Knots')

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
13150,US,"A strongly flavored, sugary, unsubtle wine, le...",NaN,84,22.0,California,Paso Robles,Central Coast,NaN,NaN,10 Knots 2010 Viognier (Paso Robles),Viognier,10 Knots
40994,US,Oaky influences give this wine a candied taste...,NaN,85,21.0,California,Santa Barbara County,Central Coast,NaN,NaN,10 Knots 2006 Chardonnay (Santa Barbara County),Chardonnay,10 Knots
80132,US,"A Rhône blend of Viognier, Roussanne and Marsa...",Beachcomber,83,21.0,California,Paso Robles,Central Coast,NaN,NaN,10 Knots 2006 Beachcomber White (Paso Robles),Rhône-style White Blend,10 Knots
112362,US,"Hot in alcohol, simple in everything else, thi...",Moonraker,81,35.0,California,Paso Robles,Central Coast,NaN,NaN,10 Knots 2009 Moonraker Grenache (Paso Robles),Grenache,10 Knots

In [8]:
reviews[reviews.winery == 'Nicosia']

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
9959,Italy,"Aromas of toasted oak, mint, vanilla and dried...",Rosso,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2011 Rosso (Etna),Red Blend,Nicosia
12551,Italy,"A delicate floral fragrance of white flower, p...",Fondo Filara Bianco,88,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Fondo Filara Bianco (Etna),White Blend,Nicosia
31875,Italy,Fondo Filara is a blend of Nero d'Avola and Fr...,Fondo Filara,87,19.0,Sicily & Sardinia,Cerasuolo di Vittoria Classico,NaN,NaN,NaN,Nicosia 2009 Fondo Filara (Cerasuolo di Vitto...,Red Blend,Nicosia
31876,Italy,Fondo Filara offers an authentic taste of Etna...,Fondo Filara,87,19.0,Sicily & Sardinia,Etna,NaN,NaN,NaN,Nicosia 2009 Fondo Filara (Etna),Red Blend,Nicosia
52316,Italy,"This fresh, Catarratto-based white wine opens ...",Fondo Filara,87,15.0,Sicily & Sardinia,Sicilia,NaN,NaN,NaN,Nicosia 2010 Fondo Filara Catarratto (Sicilia),Catarratto,Nicosia
52317,Italy,A blend of Carricante and Catarratto (two of S...,Fondo Filara,87,19.0,Sicily & Sardinia,Etna,NaN,NaN,NaN,Nicosia 2010 Fondo Filara (Etna),White Blend,Nicosia
60979,Italy,"Aromas of toasted oak, mint, vanilla and dried...",Rosso,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2011 Rosso (Etna),Red Blend,Nicosia
104568,Italy,"Aromas include dark berry, blue flower, leathe...",Fondo Filara,90,15.0,Sicily & Sardinia,Cerasuolo di Vittoria Classico,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2011 Fondo Filara (Cerasuolo di Vitto...,Red Blend,Nicosia
109882,Italy,"A simple red wine, with cherry, cassis and pru...",Fondo Filara,86,15.0,Sicily & Sardinia,Sicilia,NaN,NaN,NaN,Nicosia 2010 Fondo Filara Nero d'Avola (Sicilia),Nero d'Avola,Nicosia
122725,Italy,"Aromas of woodland berry, baking spice, orange...",Vulkà Rosso,91,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2012 Vulkà Rosso (Etna),Red Blend,Nicosia

In [9]:
#for each group get the first title
reviews.groupby('winery').apply(lambda df: df.title.iloc[0])

winery
1+1=3                                     1+1=3 NV Rosé Sparkling (Cava)
10 Knots                            10 Knots 2010 Viognier (Paso Robles)
100 Percent Wine              100 Percent Wine 2015 Moscato (California)
1000 Stories           1000 Stories 2013 Bourbon Barrel Aged Zinfande...
1070 Green                  1070 Green 2011 Sauvignon Blanc (Rutherford)
                                             ...
Órale                       Órale 2011 Cabronita Red (Santa Ynez Valley)
Öko                    Öko 2013 Made With Organically Grown Grapes Ma...
Ökonomierat Rebholz    Ökonomierat Rebholz 2007 Von Rotliegenden Spät...
àMaurice               àMaurice 2013 Fred Estate Syrah (Walla Walla V...
Štoka                                    Štoka 2009 Izbrani Teran (Kras)
Length: 16757, dtype: object

You can think of each group we generate as being a slice of our DataFrame containing only data with values that match. This DataFrame is accessible to us directly using the apply() method, and we can then manipulate the data in any way we see fit. For example, here's one way of selecting the name of the first wine reviewed from each winery in the dataset:

In [11]:
reviews.groupby(['country', 'province']).price.min()

country    province
Argentina  Mendoza Province     4.0
           Other                7.0
Armenia    Armenia             14.0
Australia  Australia Other      5.0
           New South Wales      8.0
                               ...
Uruguay    Juanico             10.0
           Montevideo          17.0
           Progreso            12.0
           San Jose            20.0
           Uruguay             12.0
Name: price, Length: 425, dtype: float64

For even more fine-grained control, you can also group by more than one column. For an example, here's how we would pick out the best wine by country and province:

In [12]:
reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])
# #for each country and province, bring out the best wine by points

                              country  \
country   province
Argentina Mendoza Province  Argentina
          Other             Argentina
Armenia   Armenia             Armenia
Australia Australia Other   Australia
          New South Wales   Australia
...                               ...
Uruguay   Juanico             Uruguay
          Montevideo          Uruguay
          Progreso            Uruguay
          San Jose            Uruguay
          Uruguay             Uruguay

                                                                  description  \
country   province
Argentina Mendoza Province  If the color doesn't tell the full story, the ...
          Other             Take note, this could be the best wine Colomé ...
Armenia   Armenia           Deep salmon in color, this wine offers a bouqu...
Australia Australia Other   Writes the book on how to make a wine filled w...
          New South Wales   De Bortoli's Noble One is as good as ever in 2...
...                                                                       ...
Uruguay   Juanico           This mature Bordeaux-style blend is earthy on ...
          Montevideo        A rich, heady bouquet offers aromas of blackbe...
          Progreso          Rusty in color but deep and complex in nature,...
          San Jose          Baked, sweet, heavy aromas turn earthy with ti...
          Uruguay           Cherry and berry aromas are ripe, healthy and ...

                                                        designation  points  \
country   province
Argentina Mendoza Province                         Nicasia Vineyard      97
          Other                                             Reserva      95
Armenia   Armenia                                    Estate Bottled      88
Australia Australia Other                             Sarah's Blend      93
          New South Wales                        Noble One Bortytis      94
...                                                             ...     ...
Uruguay   Juanico                  Preludio Barrel Select Lote N 77      90
          Montevideo        Monte Vide Eu Tannat-Merlot-Tempranillo      91
          Progreso                   Etxe Oneko Fortified Sweet Red      90
          San Jose                         El Preciado Gran Reserva      87
          Uruguay                         Blend 002 Limited Edition      91

                            price          province                 region_1  \
country   province
Argentina Mendoza Province  120.0  Mendoza Province                  Mendoza
          Other              90.0             Other                    Salta
Armenia   Armenia            15.0           Armenia                      NaN
Australia Australia Other    15.0   Australia Other  South Eastern Australia
          New South Wales    32.0   New South Wales          New South Wales
...                           ...               ...                      ...
Uruguay   Juanico            45.0           Juanico                      NaN
          Montevideo         60.0        Montevideo                      NaN
          Progreso           46.0          Progreso                      NaN
          San Jose           50.0          San Jose                      NaN
          Uruguay            22.0           Uruguay                      NaN

                           region_2        taster_name taster_twitter_handle  \
country   province
Argentina Mendoza Province      NaN  Michael Schachner           @wineschach
          Other                 NaN  Michael Schachner           @wineschach
Armenia   Armenia               NaN      Mike DeSimone        @worldwineguys
Australia Australia Other       NaN                NaN                   NaN
          New South Wales       NaN     Joe Czerwinski                @JoeCz
...                             ...                ...                   ...
Uruguay   Juanico               NaN  Michael Schachner           @wineschach
          Montevideo            NaN  Michael Schachner           @wineschach
          Progreso              NaN  Michael Schachner           @wineschach
          San Jose              NaN  Michael Schachner           @wineschach
          Uruguay               NaN  Michael Schachner           @wineschach

                                                                        title  \
country   province
Argentina Mendoza Province  Bodega Catena Zapata 2006 Nicasia Vineyard Mal...
          Other                            Colomé 2010 Reserva Malbec (Salta)
Armenia   Armenia                 Van Ardi 2015 Estate Bottled Rosé (Armenia)
Australia Australia Other   Marquis Philips 2000 Sarah's Blend Red (South ...
          New South Wales   De Bortoli 2007 Noble One Bortytis Semillon (N...
...                                                                       ...
Uruguay   Juanico           Familia Deicas 2004 Preludio Barrel Select Lot...
          Montevideo        Bouza 2015 Monte Vide Eu Tannat-Merlot-Tempran...
          Progreso          Pisano 2007 Etxe Oneko Fortified Sweet Red Tan...
          San Jose          Castillo Viejo 2005 El Preciado Gran Reserva R...
          Uruguay           Narbona NV Blend 002 Limited Edition Tannat-Ca...

                                          variety                winery
country   province
Argentina Mendoza Province                 Malbec  Bodega Catena Zapata
          Other                            Malbec                Colomé
Armenia   Armenia                            Rosé              Van Ardi
Australia Australia Other               Red Blend       Marquis Philips
          New South Wales                Sémillon            De Bortoli
...                                           ...                   ...
Uruguay   Juanico                       Red Blend        Familia Deicas
          Montevideo                    Red Blend                 Bouza
          Progreso                         Tannat                Pisano
          San Jose                      Red Blend        Castillo Viejo
          Uruguay           Tannat-Cabernet Franc               Narbona

[425 rows x 13 columns]

Another groupby() method worth mentioning is agg(), which lets you run a bunch of different functions on your DataFrame simultaneously. For example, we can generate a simple statistical summary of the dataset as follows:

In [13]:
reviews.agg([len, min, max])

ValueError: cannot combine transform and aggregation operations

# Multi-indexes
In all of the examples we've seen thus far we've been working with DataFrame or Series objects with a single-label index. groupby() is slightly different in the fact that, depending on the operation we run, it will sometimes result in what is called a multi-index.

A multi-index differs from a regular index in that it has multiple levels. For example:

In [40]:
countries_reviewed = reviews.groupby(['country', 'province']).description.agg([len])
countries_reviewed

                             len
country   province
Argentina Mendoza Province  3264
          Other              536
...                          ...
Uruguay   San Jose             3
          Uruguay             24

[425 rows x 1 columns]

In [41]:
display(type(countries_reviewed.index))

pandas.core.indexes.multi.MultiIndex

Multi-indices have several methods for dealing with their tiered structure which are absent for single-level indices. They also require two levels of labels to retrieve a value. Dealing with multi-index output is a common "gotcha" for users new to pandas.

The use cases for a multi-index are detailed alongside instructions on using them in the MultiIndex / Advanced Selection section of the pandas documentation.

However, in general the multi-index method you will use most often is the one for converting back to a regular index, the reset_index() method:

In [43]:
countries_reviewed = countries_reviewed.reset_index()

In [44]:
countries_reviewed

     index    country          province   len
0        0  Argentina  Mendoza Province  3264
1        1  Argentina             Other   536
..     ...        ...               ...   ...
423    423    Uruguay          San Jose     3
424    424    Uruguay           Uruguay    24

[425 rows x 4 columns]

# Sorting
Looking again at countries_reviewed we can see that grouping returns data in index order, not in value order. That is to say, when outputting the result of a groupby, the order of the rows is dependent on the values in the index, not in the data.

To get data in the order want it in we can sort it ourselves. The sort_values() method is handy for this.

In [45]:
countries_reviewed.sort_values(by = 'len')

     index country               province    len
179    179  Greece  Muscat of Kefallonian      1
192    192  Greece          Sterea Ellada      1
..     ...     ...                    ...    ...
415    415      US             Washington   8639
392    392      US             California  36247

[425 rows x 4 columns]

sort_values() defaults to an ascending sort, where the lowest values go first. However, most of the time we want a descending sort, where the higher numbers go first. That goes thusly:

In [46]:
countries_reviewed.sort_values(by = 'len', ascending = False)

     index country    province    len
392    392      US  California  36247
415    415      US  Washington   8639
..     ...     ...         ...    ...
63      63   Chile     Coelemu      1
149    149  Greece      Beotia      1

[425 rows x 4 columns]

In [47]:
countries_reviewed.sort_values(by = 'country', ascending = False)

     index    country          province   len
424    424    Uruguay           Uruguay    24
423    423    Uruguay          San Jose     3
..     ...        ...               ...   ...
1        1  Argentina             Other   536
0        0  Argentina  Mendoza Province  3264

[425 rows x 4 columns]

To sort by index values, use the companion method sort_index(). This method has the same arguments and default order:

In [48]:
bycountry = reviews.sort_values(by = 'country')
bycountry

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
90901,Argentina,Odd aromas of bath soap and tropical fruits ar...,Valle Las Acequias Clase A,81,9.0,Mendoza Province,Mendoza,NaN,Michael Schachner,@wineschach,Luis Segundo Correas 2015 Valle Las Acequias C...,Chardonnay,Luis Segundo Correas
122372,Argentina,"Malty, earthy aromas of cassis and prune are t...",NaN,86,15.0,Mendoza Province,Mendoza,NaN,Michael Schachner,@wineschach,Bodega Familia Barberis 2010 Cabernet Sauvigno...,Cabernet Sauvignon,Bodega Familia Barberis
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129590,NaN,"A blend of 60% Syrah, 30% Cabernet Sauvignon a...",Shah,90,30.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Büyülübağ 2012 Shah Red,Red Blend,Büyülübağ
129900,NaN,This wine offers a delightful bouquet of black...,NaN,91,32.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Psagot 2014 Merlot,Merlot,Psagot

Finally, know that you can sort by more than one column at a time:

In [49]:
bycountry = bycountry.reset_index()
bycountry

,index,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,90901,Argentina,Odd aromas of bath soap and tropical fruits ar...,Valle Las Acequias Clase A,81,9.0,Mendoza Province,Mendoza,NaN,Michael Schachner,@wineschach,Luis Segundo Correas 2015 Valle Las Acequias C...,Chardonnay,Luis Segundo Correas
1,122372,Argentina,"Malty, earthy aromas of cassis and prune are t...",NaN,86,15.0,Mendoza Province,Mendoza,NaN,Michael Schachner,@wineschach,Bodega Familia Barberis 2010 Cabernet Sauvigno...,Cabernet Sauvignon,Bodega Familia Barberis
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,129590,NaN,"A blend of 60% Syrah, 30% Cabernet Sauvignon a...",Shah,90,30.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Büyülübağ 2012 Shah Red,Red Blend,Büyülübağ
129970,129900,NaN,This wine offers a delightful bouquet of black...,NaN,91,32.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Psagot 2014 Merlot,Merlot,Psagot

In [53]:
bycountry.drop('index', axis = 1, inplace = True)

KeyError: "['index'] not found in axis"

In [52]:
bycountry

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Argentina,Odd aromas of bath soap and tropical fruits ar...,Valle Las Acequias Clase A,81,9.0,Mendoza Province,Mendoza,NaN,Michael Schachner,@wineschach,Luis Segundo Correas 2015 Valle Las Acequias C...,Chardonnay,Luis Segundo Correas
1,Argentina,"Malty, earthy aromas of cassis and prune are t...",NaN,86,15.0,Mendoza Province,Mendoza,NaN,Michael Schachner,@wineschach,Bodega Familia Barberis 2010 Cabernet Sauvigno...,Cabernet Sauvignon,Bodega Familia Barberis
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,NaN,"A blend of 60% Syrah, 30% Cabernet Sauvignon a...",Shah,90,30.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Büyülübağ 2012 Shah Red,Red Blend,Büyülübağ
129970,NaN,This wine offers a delightful bouquet of black...,NaN,91,32.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Psagot 2014 Merlot,Merlot,Psagot

In [54]:
countries_reviewed.sort_values(by = ['len', 'country'])

     index country          province    len
40      40  Brazil  Serra do Sudeste      1
48      48  Canada      Canada Other      1
..     ...     ...               ...    ...
415    415      US        Washington   8639
392    392      US        California  36247

[425 rows x 4 columns]